.flat {
	fill: #00ffff00;
	stroke-width: 5px;
	&:hover {
		.flat-path {
			stroke: #80d34e;
			stroke-width: 5px;
			fill: #81d34e86;
		}
	}

	&.active {
		.flat-path {
			fill: #04ff005c;
			stroke: #05ff00;
		}
	}

	&-path {
		stroke: aqua;
		stroke-width: 2px;
	}

	&.action {
		.flat-status-cell__path {
			fill: #80D34E;
		}
	}
	&.booked {
		.flat-status-cell__path {
			fill: #6B68FF;
		}
	}
	&.sold {
		.flat-status-cell__path {
			fill: #D34E4E;
		}
	}


}


.flat-status-path {
	fill: white;
	stroke: black;
	stroke-width: 2px;
}
.flat-status-cell__path {
	fill: #00DEFC;
	stroke: black;
	stroke-width: 2px;
}
.flat-status-cell__text {
	fill: black;
	font-weight: bold;
}
