<div class="floor-options">
	<div class="floor-options-item">
		<div>Номер будинку:</div>
		<div>7</div>
	</div>

	<div class="floor-options-item">
		<div>Поверх:</div>
		<div>2</div>
	</div>

	<div class="floor-options-item">
		<div>Номер квартири:</div>
		<div>13</div>
	</div>

	<div class="floor-options-item">
		<div>К-сть кімнат:</div>
		<div>3</div>
	</div>

	<div class="floor-options-item">
		<div>Площа квартири:</div>
		<div>65,5 м.кв.</div>
	</div>

	<div class="floor-options-item">
		<div>Ціна за м.кв.</div>
		<div>$1750</div>
	</div>
	<div class="floor-options-item">
		<div>Ціна за квартиру:</div>
		<div>$114 625</div>
	</div>

	<div class="floor-options-item">
		<div>Статус квартири:</div>
		<div>Продана</div>
	</div>
</div>
