<footer>
	<div class="container">			
		<div class="footer-row">
			<div class="footer-nav">
				<h3 class="footer-title">Наші контакти</h3>
				<ul class="footer-nav-list">
					<li class="footer-nav-list__item"><a class="contacts-link" href="tel:0(800)333-333">0(800)333-333</a></li>
					<li class="footer-nav-list__item"><a class="contacts-link" href="mailto:email.adress@mail">email.adress@mail</a></li>
					<li class="footer-nav-list__item">Адреса: вул. Шевченка, 33</li>
				</ul>

				<div class="social-media-nav">
					<a href="#"><img class="social-link-img img-fluid" src="assets/img/icon-instagram.png" alt="instagram"></a>
					<a href="#"><img class="social-link-img img-fluid" src="assets/img/icon-facebook.png" alt="facebook"></a>
					<a href="#"><img class="social-link-img img-fluid" src="assets/img/icon-telegram.png" alt="telegram"></a>
				</div>

			</div>

			<div class="footer-nav">
				<h3 class="footer-title">Головна</h3>
				<ul class="footer-nav-list">
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Будинки</a></li>
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Квартири</a></li>
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Продаж</a></li>
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Оренда</a></li>
				</ul>
			</div>

			<div class="footer-nav">
				<h3 class="footer-title">Про компанію</h3>
				<ul class="footer-nav-list">
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Новини</a></li>
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Наша історія</a></li>
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Блог</a></li>
				</ul>
			</div>

			<div class="footer-nav">
				<h3 class="footer-title">Наші послуги</h3>
				<ul class="footer-nav-list">
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Супровід угод</a></li>
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Іпотека</a></li>
					<li class="footer-nav-list__item"><a class="footer-nav-list__link" href="#">Вартість послуг</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<script async src="assets/js/custom.js"></script>
<script async src="assets/js/floor.js"></script>
</body>
</html>